mixin team(source, name, title, license, bio, bio2)
  .row.team-member
    .four.columns
      img(itemprop='photo').headshot(src= source, alt= name)
    .eight.columns
      h2(itemprop="employee")= name
      h3= title
      p= license
      p= bio
      p= bio2
      
mixin team2(source, name, title, license, bio )
  .row.team-member
    .eight.columns
      h2(itemprop="employee")= name
      h3= title
      p= license
      p= bio
    .four.columns
      img(itemprop='photo').headshot(src= source, alt= name)
    
